{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="supplierID">Supplier ID:</label>
        {{ form_widget(form.supplierID,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="suppliername">SupplierID:</label>
        {{ form_widget(form.suppliername,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Supplier name'
            }
        }) }}
    </div>


    <input type="submit" name="edit_supplier" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
